plots/*
resources/__pycache__/*
params/*
__pycache__
benchmarking/params
benchmarking/__pycache__
benchmarking/results
benchmarking/studies
data/*
*.csv
*.png
*.pyc
*/__pycache__/*
hyperparameter_optimization
params
data
tests
analysis/analysis_model_evaluation_tables
analysis/finetuning_GRU
analysis/finetuning_SEQ
analysis/finetuning_within_subj_esults
analysis/participants_analysis
analysis/participants_analysis_dezfouli
analysis/plots_confusion_matrix
analysis/plots_parameter_recovery
analysis/sindy_grouped